/* General */
body {
    font-family: helvetica, arial, 'sans-serif';    
}
button {
    font-size: 11px;
}
h4 {
    display: inline;
    font-size: 12px;
}

/* Intro, Options, &c. */
#board,
#options,
#log,
#intro {
	margin: 0 auto;
	position: relative;
	top: 20px;
}

/* board width is handled by JavaScript for noughts radius's calculations */
#intro,
#options,
#log {
    width: 286px;
}
#intro {
    color: #595959;
    font-family: helvetica, arial, 'sans-serif';
    font-size: 14px;
    padding-bottom: 30px;
}
#options {
    height: 20px;
    margin-bottom: 10px;
}

/* Log */
#log {
    border: 1px solid #bbb;
    padding: 5px;
    color: #000;
    font-family: helvetica, arial, 'sans-serif';
    font-size: 12px;
    height: 72px;
    margin-top: 10px;
    overflow: scroll;
}
.note {
    color: #000;
}
.whisper {
    color: #aaa;
}
.shout {
    color: #000;
    font-weight: 700;
}
.warn {
    color: #ff0000;
}

/* Board */
.square {
    background: #ddd;
    font-family: helvetica;
    font-size: 40px;
    float: left;
	text-align: center;
}
.square.highlight {
	background: #FFFF66;
}
