#board {
	margin: 0 auto;
	position: relative;
	top: 20px;
}
.square {
    background: #ddd;
    font-family: helvetica;
    font-size: 40px;
    float: left;
	text-align: center;
}
.square.highlight {
	background: #FFFF66;
}
.over {
    font-family: helvetica, arial, 'san-serif';
    font-size: 14px;
    position: relative;
    text-align: center;
    top: 10px
}
